@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

/*html { 
  background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.clear {
	clear:both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 100px;
    height: 100px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.logo:hover{
	text-decoration: none;
}

.slogan{
	/* Monospace stack */
	padding-top: 40px;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	font-style: italic;
	font-size: 15px;
}

.links{
	padding-top: 40px;
}

.links a{
	color: black;
	font-family: 'Montserrat', serif;
	font-size: 25px;
	border-bottom: 1px solid #DFDFDF;
	text-align: center;
}

header {
	border-top: 9px solid #F5AA2A;
}

/*.quote-body { 
  background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.quote-id{
	color: #D11755;
	font-size: 35px;
	margin: auto;
}

.modal{
	/* Monospace stack */
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	font-style: italic;
}

.about-origin{
	/* Monospace stack */
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	font-style: italic;
	padding-top: 50px;
	font-size: 15px;
}

.about-blurb a{
	color: #F5AA2A;
}

h1{
    font-family: 'chunkfiveroman', sans-serif;
	font-size: 50px;
    text-align: center;
}

h2{
	font-family: 'chunkfiveroman', serif;
    text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: auto;
	background-color: #FFF2C9;
	padding-top: 10px;
	color: black;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.next-quote{
	color: #D11755;
	font-size: 20px;
	margin: auto;
}

.next-quote:hover{
	text-decoration: none;
}

.footer-blurb{
	font-family: 'Fjalla One', sans-serif;
	text-align: right;
	font-size: 10px;
}

@media (max-width: 750px){
	.footer-blurb{
		font-family: 'Fjalla One', sans-serif;
		text-align: left;
		font-size: 10px;
	}
}

.footer-blurb a{
	color: #F5AA2A;
	font-size: 15px;
}

::selection{
	background-color: #FFF2C9;
}